body{
    font-family: monospace;
    text-decoration: none;
}

a {
    color:green
}

a:visited{
    color: rgb(99, 7, 3);
}

a:hover{
    color:rgb(189, 9, 9)
}

a:active{
    color: blue;
}

a::after{
    content: '[link]';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
}