
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'play';
    src: url(Play-Regular.ttf);
}

body {
    font-family: monospace;
    font-size: 1.5em;
}

h1 {
    font-family: rajdhani;
}

p {
    font-family: play;
}

h2 {
    font-family: play;
}